.venv
.env
.ruff_cache
dist
sdist
*.egg-info/
*.egg
venv
build
__pycache__
__pypackages__/
.ipynb_checkpoints
ignore_*
_old*
.coverage
htmlcov
_secrets.py
_ignore
__*.txt
.idea.txt
.vscode
*.sqlite3
*.db
*.log
*.pyc
*.pyo
*.csv
*.json
staticfiles/
.cursor
.cursorrules
_*.ipynb

# pastas vazias
db/
tmp/
cache/

# front
node_modules/
.npm/
dist/
/media/
.cache/